.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: #167389;
    
    color: #fff;
    width: 100%;
}
.size{
  padding: 0.2rem;
}
.search-bar{
    width: 25rem;
    padding: 0.4rem 1rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #374151;
}
.search-bar--btn{
    width: 5rem;
    background-color: #22d3ee;
    padding: 0.4rem 1rem;
    border-radius: 0 5px 5px 0;

}
@media only screen and (max-width:768px){
    .navbar{
    flex-direction: column;
    height: 8rem;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    

    }
    .logo{
    margin-bottom: .3rem;
    }
    .display-hide{
        display: none;
    }
.search-bar{
 width: 14rem;   
}

}