.sidebar{
    width: 17%;
    padding: 1rem 3rem;
    height: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow-y: scroll;
    margin-bottom: 2rem;
    background-color: white ;
    transform: translate(0%,0%);

}
.sidebar--open{
    transform: translate(0%,0%);
}
.x-mark{
    display: none;
}



#category{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width:768px){

.sidebar{
    top: 127px;
    width: 61%;
    padding: 1rem 3rem;
    height: 71.5%;
    z-index: 999;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow-y: scroll;
    margin-bottom: 2rem;
    background-color: white ;
    transform: translate(-100%,0%);
    transition: all .5s ease-in-out;
  }
  .sidebar--open{
    transform: translate(0%,0%);
  
  }

.x-mark{
    display: block;
margin-left:10rem;
}
}