@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue:#167389;
    --box-shadow:rgba(0, 0, 0, 0.01) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
html{
    scroll-behavior: smooth;
}
body{
    color: #374151;
    background-color:#e4e4e7;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.216);
    border-radius: 1rem;
}